a {
	cursor: pointer;
	text-decoration: none;

	.icon-wrapper {
		width: fit-content;
		height: fit-content;
		position: relative;

		// tooltip
		&::after {
			transition: opacity 300ms;
			content: attr(data-tooltip);
			position: absolute;
			bottom: -100%;
			left: 50%;
			transform: translateX(-50%);
			width: max-content;
			background-color: rgba($color: white, $alpha: 0.8);
			border-radius: 7px;
			font-size: 15px;
			padding: 0 5px;
			color: #919191;
			opacity: 0;
		}

		&:hover::after {
			opacity: 1;
		}
	}

	i {
		color: white;
		transition: color 200ms;
	}

	&.demo:hover {
		i {
			color: #0df3f3;
		}
	}

	&.source:hover {
		i {
			color: #ff9494;
		}
	}
}
