#about-me {
	display: grid;
	padding: 10%;

	align-items: center;
	justify-items: center;

	.content {
		display: grid;
		grid-template-columns: 1fr 3fr;
		gap: 15px;

		aside {
			img {
				height: 300px;
				width: 300px;

				border-radius: 50%;
				box-shadow: 1px 1px 5px black;
			}

			p {
				font-size: 36px;
				color: lightblue;
			}

			.name {
				padding-top: 10px;
				padding-left: 35px;
				color: rgba($color: lightblue, $alpha: 0.5);

				.note {
					font-size: 24px;
					position: relative;
					padding-left: 45px;
					top: -10px;

					&::before {
						content: '';
						position: absolute;
						height: 15px;
						width: 17px;
						left: 15px;
						top: 5px;
						border-bottom: solid 2px lightcyan;
						border-left: solid 2px lightcyan;
					}
				}
			}
		}

		article {
			color: lightblue;
			font-size: 35px;
		}
	}
}
