#intro {
	display: grid;
	position: relative;

	justify-content: center;
	align-content: stretch;
	align-items: flex-end;

	h2 {
		color: honeydew;
		font-size: 45px;
		opacity: 75%;
	}

	svg {
		margin: 0 auto;

		opacity: 60%;

		// animation: hoverDown 1.5s infinite;
	}
}

@keyframes hoverDown {
	0% {
		transform: translate3d(-50%, 0, 0);
	}

	50% {
		transform: translate3d(-50%, -20px, 0);
	}

	100% {
		transform: translate3d(-50%, 0, 0);
	}
}
