$icon-size: 30px;

.links {
	padding: 5px 15px;
	margin: auto;

	display: flex;
	flex-direction: row;
	gap: 15px;

	border-radius: 15px;
	background-color: crimson;
	width: fit-content;

	a {
		color: aliceblue;
		width: $icon-size;
		height: $icon-size;

		.fab {
			width: 100%;
			height: 100%;
			font-size: $icon-size;
			transition: color 300ms;

			&:hover {
				// color: honeydew;
				cursor: pointer;
			}
		}

		&#github:hover {
			color: black;
		}

		&#linkedin:hover {
			color: dodgerblue;
		}

		&#twitter:hover {
			color: cornflowerblue;
		}
	}
}
