.portal {
	display: grid;
	min-width: 90px;
	position: relative;
	box-sizing: content-box;
	margin-bottom: 7px;
	align-items: center;

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		z-index: -1;
		height: 100%;
		border-top: solid 2px white;
		border-bottom: solid 2px white;
		transition: width 300ms;
		width: 0;
		justify-self: center;
	}

	&:hover {
		&::after {
			width: 100%;
		}

		span {
			opacity: 0;
			user-select: none;
		}

		.project-links {
			opacity: 1;
		}
	}

	> * {
		grid-column: 1;
		grid-row: 1;
	}

	.project-links {
		display: flex;
		justify-content: space-around;
		align-items: center;
		transition: all 200ms;
		padding: 3px 0;
		opacity: 0;
		z-index: 50000;

		a {
			cursor: pointer;
			text-decoration: none;
			position: relative;

			i {
				color: white;
				transition: color 200ms;
			}

			&.demo:hover {
				i {
					color: #0df3f3;
				}
			}

			&.source:hover {
				i {
					color: #ff9494;
				}
			}
		}
	}
}
