.scroll-to-top {
	position: fixed;
	right: 25px;
	bottom: 25px;
	background-color: transparent;
	border: none;
	transition: opacity 300ms;

	i {
		font-size: 32px;
		color: rgba($color: honeydew, $alpha: 0.6);
		transition: color 250ms;

		&:hover {
			color: rgba($color: honeydew, $alpha: 0.8);
		}
	}
}
