#what-i-know {
	color: honeydew;

	display: grid;
	align-items: center;

	.content {
		margin: auto;
		width: 50%;
		position: relative;

		display: flex;
		flex-direction: row;
		justify-content: space-between;

		&::after {
			content: 'Hover over skills for links to projects that used them';
			position: absolute;
			font-size: 24px;
			bottom: -20%;
			left: 50%;
			width: fit-content;
			transform: translate(-50%, 100%);
			opacity: 0.7;
		}

		.skill-group {
			h3 {
				font-size: 30px;
				position: relative;
				margin-bottom: 10px;

				.note {
					opacity: 0.6;
					font-size: 25px;
					font-weight: normal;
				}

				&::before {
					position: absolute;
					bottom: 0;
					content: '';
					height: 2px;
					width: 100%;
					background-color: crimson;
				}
			}

			ul {
				justify-self: flex-start;
				width: fit-content;

				li {
					font-size: 20px;
					list-style-position: inside;
					list-style-type: none;
					margin-bottom: 5px;
					width: fit-content;
				}
			}
		}
	}
}
