#skill-set {
	background-color: rgba($color: cadetblue, $alpha: 0.2);

	display: grid;
	align-items: center;
	justify-content: center;

	// remove these once the rest of the component is filled out
	color: honeydew;
	font-size: 75px;
	font-weight: bold;
}
