#how-to-find-me {
	display: grid;
	grid-template-rows: 1fr auto;
	align-items: center;

	overflow: hidden;

	form {
		display: grid;
		gap: 15px;
		border-radius: 15px;
		padding: 30px;
		width: 50%;
		margin: auto;

		position: relative;

		* {
			z-index: 5000;
		}

		.airplane {
			z-index: 5;
		}

		grid-template-areas: 'title title' 'name email' 'message message' 'submit submit';

		&.submitted {
			position: relative;
			background-color: transparent;

			h3,
			.input-wrapper,
			button {
				opacity: 0;
			}

			&::after {
				content: "Thanks! I'll get back to you soon.";
				position: absolute;
				width: max-content;
				color: rgba($color: honeydew, $alpha: 0.8);
				font-size: 30px;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				animation: fadeIn 400ms forwards;
				animation-delay: 1s;
			}
		}

		h3 {
			grid-area: title;
			font-size: 36px;
			text-align: center;
			color: honeydew;
		}

		#name-field {
			grid-area: name;
		}

		#email-field {
			grid-area: email;
		}

		#message-field {
			grid-area: message;
		}

		button[type='submit'] {
			grid-area: submit;
			margin: auto;
			padding: 15px 20px;
			background: #f97979;
			background: linear-gradient(to right, #f3af8e, #f97979);
			border-radius: 7px;
			box-shadow: 0 0 15px #ff674f94;
			border: none;
			font-weight: 700;
			color: honeydew;
			outline: none;
			margin-top: 10px;
			font-size: 16px;
			transition: 200 linear;

			&:hover {
				cursor: pointer;
				filter: brightness(1.05);
				transform: scale(1.05);
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
