@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Heebo', sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
}

#root {
	width: 100%;
	height: 100%;
	overflow: scroll;

	background: #0f2027;
	background: linear-gradient(-45deg, #2c5364, #203a43, #0f2027);
	/* background-size: 200% 200%; */
	/* animation: backgroundAnimation 8s infinite; */
}

@keyframes backgroundAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Customize scroll bar */
/* won't work on Firefox */
::-webkit-scrollbar {
	display: none;
	width: 0.5em;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(82, 136, 138);
	background-color: #0f2027;
}

::-webkit-scrollbar-thumb {
	background: cadetblue;
}
