svg {
	z-index: -1;
	position: fixed;
	user-select: none;
	height: 100%;
	width: 100%;
}

#background {
	z-index: -2;
	position: fixed;
	width: 100vw;
	height: 100vh;
}

body.light #background {
	background: linear-gradient(#ff000050, #ffff0050);
	/* background-blend-mode: screen; */
}

body.dark #background {
	background: linear-gradient(#640000c0, #666600c0);
	/* background-blend-mode: color-burn; */
}
