@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	color: honeydew;
	margin: 0%;
	padding: 0%;
}

body {
	width: 100vw;
	min-height: 100vh;
	max-width: 100%;
	transition: 0.3s;

	display: flex;
	flex-direction: column;
}
	body.light {
		background: url(../images/background.jpg) center / cover, linear-gradient(#ff000050, #ffff0050);
		background-blend-mode: screen;
	}
	body.dark {
		background: url(../images/background.jpg) center / cover, linear-gradient(#64000080, #66660080);
		background-blend-mode: color-burn;
	}

nav {
	height: 3em;
	display: grid;
	grid-template-rows: 1fr;
	max-width: 100%;
	padding: 0.8%;
}
	nav #links {
		display: grid;
		grid-template-columns: repeat(3, auto);
		column-gap: 5%;
		justify-self: end;
		padding-right: 0.8%;
	}

#links > div {
	display: grid;
	grid-template-columns: 15px auto;
	column-gap: 5px;
}
	#links > div i {
		align-self: center;
	}

a {
	font-size: large;
	text-decoration: none;
	transition: color .45s;
}
	a:hover {
		color: coral;
	}

#about-me {
	margin: 35px auto;
	background-color: #cccccc28;
	display: grid;
	grid-template-columns: 200px auto;
	column-gap: 15px;
	align-items: center;
	width: 100%;
	padding: 5% 18%;
	border-radius: 8px;
}

.description {
	font-size: 22px;
	text-indent: 5em;
}

.crimson {
	color: #ff3960;
	font-weight: 700;
	font-size: inherit;
}

#selfie {
	width: 200px;
	clip-path: circle(50% at center);
}
