* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: honeydew;
	font-family: sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100vw;
	min-height: 100vh;
	background: rgb(228, 58, 92);
	overflow-x: hidden;

	display: grid;
	text-align: center;
}

header {
	font-family: monospace;
	position: fixed;
	width: 100%;
	font-weight: bold;
	font-size: 2.25rem;
	padding: 0.5rem;
}

nav {
	position: fixed;
	left: 15px;
	bottom: 25px;
	text-align: start;
	font-size: 20px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	transition: color 300ms;
}

a:hover {
	color: cyan;
}

main {
	display: flex;
	justify-self: center;
	flex-direction: column;
	gap: 5px;
	place-content: center;
	font-weight: bold;
	font-size: 4vmin;
}

section {
	width: 100vw;
	height: 100vh;
	display: grid;
}

.wrapper {
	padding: 30px;
	margin-top: 3rem;
}

#about-me {
	background-color: rgba(0, 0, 0, 0.15);
}

#my-work {
	background-color: rgba(0, 0, 0, 0.2);
}

#contact-me {
	background-color: rgba(0, 0, 0, 0.25);
}
